body{
    height: 100vh;
}

.container__end {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.formulario__end {
    height: 100%;
    background-color: var(--surface-primary);
    border-radius: 16px 16px 0 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formulario__end div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.foco {
    color: var(--text-highlight);
    text-decoration: none;
    font-weight: 500;
}

.botao__end {
    color: var(--surface-primary);
    background-color: var(--brand-fourth);
    border-radius: 8px;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;

    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.ilustracoes__simbolo {
    width: 30%;
    height: 60%;

    align-self: flex-start;
}

.ilustracao__end {
    background-color: var(--brand-fourth);
    border-radius: 0 0 16px 16px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__end {
    width: 50%;
}