@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
}

:root {
    /* Cores */
    --brand-fourth: #2355A6;

    --surface-primary: #FFFFFF;

    /* Fontes */
    --font-primary: "Poppins", serif;
    --font-secondary: "Montserrat", sans-serif;
}

.principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url('/assets/capa.png');
    background-size: cover;
    padding-top: 5%;
}

.caixa_formulario {
    display: flex;
    background-color: rgba(255, 255, 255, 0.75);
    height: 12rem;
    width: 20rem;
    align-items: center;
    justify-content: center;
    border: 10px solid var(--brand-fourth);
    border-radius: 6px;
    
}

/*botao*/
.link_formulario {
    text-decoration: none;
    border-radius: 8px;
    padding: 0.25rem;
    width: 50%;
    text-align: center;
    background-color: var(--brand-fourth);
    color: var(--surface-primary);
    font-family: var(--font-primary);
}

.link_formulario:hover {
    background-color: #4358cd;
   
}

.rodape {
    background-color: var(--brand-fourth);
    text-align: center;
    padding: 1%;
    font-family: var(--font-secondary);
    color: var(--surface-primary);

    
}