@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Variáveis CSS */
:root {
    /* Cores */
    --brand-primary: #F67841;
    --brand-secondary: #F3541C;
    --brand-tertiary: #E43A12;
    --brand-fourth: #2355A6;

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

    --semantic-error: #DC2626;

    /* Fontes */
    --font-primary: "Poppins", serif;
    --font-secondary: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: var(--text-primary);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 90%;
}

/* ===== Blocos ===== */

/* Bloco: Formulário */
.formulario {
    background-color: var(--surface-primary);
    border-radius: 16px 0 0 16px;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 3rem;
    padding: 4rem;
}

/* Bloco: Organiza o Cabeçalho do Formulario */
.formulario__cabecalho {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/*Bloco: Organiza o Texto do Cabeçalho */
.formulario__apresentacao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*Bloco: São os blocos apresentação, informações, endereço e trilhas */
.formulario__secao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formulario__termos {
    display: flex;
    height: 3rem;
}

/* Elemento: Título */
.formulario__titulo {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

/* Elemento: Subtítulo */
.formulario__subtitulo {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
}

/* Elemento: Texto (É usado só no Cabeçalho)*/
.formulario__texto {
    color: var(--text-secondary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

/*Bloco: Termos*/
.termos__label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.termos__label--a {
    color: var(--text-highlight);
    text-decoration: none;
    font-weight: 500;
}

/* Elemento: Botões de Ação (Cancelar/Fazer Inscrição)*/
.formulario__botoes {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/*Elemento: Botao Fazer Inscrição*/
.botao {
    color: var(--surface-primary);
    background-color: var(--brand-tertiary);
    border: 0px;
    border-radius: 8px;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;

    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.botao--secundario {
    color: var(--text-highlight);
    border: 1px solid var(--text-highlight);
    background-color: var(--surface-primary);
}

/* Elemento: Parte de Voltar do Cabeçalho */
.formulario__voltar {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--text-secondary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
}

.formulario__voltar img{
    width: 1.5rem;
    height: 1.5rem;
}

/* Bloco: São todos os campos de perguntas */
.campo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/*Bloco: São os blocos com duas perguntas numa linha só*/
.campo--duplo {
    display: flex;
    gap: 1.25rem;
}

/* Elemento: São os campos Rua e Cidade */
.campo--maior {
    width: 70%;
}

.campo--desativado label {
    color: var(--text-secondary);
    opacity: 0.6;
    pointer-events: none;
}

.campo--desativado input {
    color: var(--text-secondary);
    background-color: var(--surface-disabled);
    pointer-events: none;
    opacity: 0.6;
}

/* Bloco: Campo Botões */
.campo-botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

/* Elemento: É o botao em si */
.campo-botoes__items--item {
    width: 49%;
    display: flex;
}

/* Elemento: É o conteudo do botao, ta tudo dentro desse label */
.campo-botoes__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;

    cursor: pointer;

    border: 1px solid var(--stroke-default);
    border-radius: 8px;

    width: 100%; /* Ocupa toda a largura do item */
}

/* Elemento: o ':has()' verifica se o label tem um input checked */
.campo-botoes__label:has(.campo-botoes__input:checked) {
    box-shadow: 0 0 0 2px var(--stroke-highlight);
    border: 1px solid transparent;
}

/* Elemento: Isso é pra ajustar o circulozinho no canto da tela */
.campo-botoes__input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1.5px solid var(--stroke-default);
    border-radius: 50%;
    
    align-self: flex-start;
    margin: 0.5rem 0 0 0.5rem;
}

/* Elemento: input clicado */
.campo-botoes__input:checked {
    background-color: var(--stroke-highlight);
    background-image: url(/assets/check.png);
    background-size: 13px 15px;
    background-repeat: no-repeat; /* Isso é pra imagem não se repetir */
    background-position: center;

    border: 1.5px solid var(--stroke-highlight);
    transform: scale(1.1); /*define o tamanho que o botao vai ficar quando clicado (110%) */
    transform-origin: center;
    transition: transform 0.25s; /* define o tempo da animação */
}

/* Elemento: div com um icone das trilhas nos botoes */
.campo-botoes__icone {
    width: calc(40px / 1rem);
    height: calc(40px / 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Elemento: o icon */
.campo-botoes__icone--icon {
    width: 90%;
    height: 90%;
}

/* Elemento: Label do Campo */
.campo__label {
    color: var(--text-secondary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.225rem;
}

/* Elemento: Input do Campo */
.campo__input {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    border: 1px solid var(--stroke-default);
    border-radius: 4px;
    min-height: 30px;

    padding: 0 0 0 6px;
}

.campo__input:focus{
    outline: 0;
}

/* Elemento: Quando o Input não é preenchido corretamente */
.campo--incorreto input {
    border: 1px solid var(--stroke-highlight);
    box-shadow: 0 0 5px var(--stroke-highlight);
}

.campo--incorreto span {
    background-image: url(/assets/alerta.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;

    color: var(--semantic-error);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    padding: 0 0 0 1.6rem;
}

/*ocultar o botão de input nativo*/
.campo__input--file {
   display: none;
}

/* Elemento: Select do Campo */
.campo__select {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    border: 1px solid var(--stroke-default);
    border-radius: 4px;
    min-height: 30px;
    
    background-image: url(/assets/arrow-down-01.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: center;
    appearance: none;

    width: 100%;
    padding: 0 0 0 6px;
}

/* Elemento: Upload do Campo */
.campo__upload {
    border: 1.5px dashed var(--stroke-default);
    border-radius: 8px;
    align-self: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.75rem;
    gap: 0.5rem;
    
    cursor: pointer;

    opacity: 0.6;
    width: 60%;
}

/*icone do cloud-upload*/
.cloud-upload__icon {
    width: 10%;
    height: 55%;
    opacity: 0.6;
}

.texto__upload {
    display: flex;
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.termos__input {
    appearance: none;
    width: 19px;
    height: 19px;
    border: 1.5px solid var(--stroke-default);
    border-radius: 5px;
    cursor: pointer;
}

.termos__input:checked {
    background-color: var(--stroke-highlight);
    background-image: url(/assets/check.png);
    background-size: 13px 15px;
    background-repeat: no-repeat;
    background-position: center;

    border-color: var(--stroke-highlight);
    transform: scale(1.07);
    transform-origin: center;
    transition: transform 0.25s;
}

/* Elemento: Ilustração */
.ilustracao {
    background-color: var(--brand-fourth);
    border-radius: 0 16px 16px 0;
    width: 60%;
}

.ilustracao__ilustracoes{
    position: sticky;
    inset: 15% 5% 25% 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.ilustracoes__imagem {
    width: 75%;
    height: 75%;
    padding: 10% 0 0 0;
}

.ilustracoes__logo {
    width: 45%;
    height: 25%;
}