@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

:root {
    --brand-primary: #F67841;
    --brand-secondary: #F3541C;
    --brand-tertiary: #E43A12;
    --brand-fourth: #2355A6;

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

    --semantic-error: #DC2626;

    --font-primary: "Poppins", serif;
    --font-secondary: "Montserrat", sans-serif;

    --background-image: url('/assets/ilustracoes/capa-1.png');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    overflow: hidden;
}

.logo {
    width: 30%;
}

.principal {
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 8% 0 8%;
    gap: 50px;
}

.login {
    width: 30%;

    background-color: var(--surface-primary);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem 4rem;
    gap: 3rem;
}

.login__campos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Conteudo do Loguin */
.titulo {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 3rem;
    line-height: 120%;

    align-self: center;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.campo__input {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    border: 1px solid var(--stroke-default);
    border-radius: 6px;
    min-height: 30px;

    padding: 0 0 0 6px;
}

.texto {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 120%;

    align-self: flex-end;
}

/* Botões */
.login__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.botao {
    width: 45%;

    color: var(--surface-primary);
    background-color: var(--brand-tertiary);
    border: 0px;
    border-radius: 8px;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;

    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
}

.botao--secundario {
    width: 30%;
    
    color: var(--text-highlight);
    border: 1px solid var(--text-highlight);
    background-color: var(--surface-primary);

    font-size: 1rem;
}

@media (max-width: 600px) {

    .login {
        width: 70%;
        height: 55%;
    }

    .logo {
        padding-top: 10%;
    }

    .titulo {
        font-size: 2rem;
    }

    .botao--secundario {
        width: 45%;
    }
}