@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
}

:root {
    /* Cores */
    --brand-fourth: #2355A6;

    --surface-primary: #FFFFFF;

    /* Fontes */
    --font-primary: "Poppins", serif;
    --font-secondary: "Montserrat", sans-serif;
}

.principal {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url('/assets/capa.png');
    background-size: cover;
    padding-top: 12%;
}



/*botao*/
.link_formulario {
    text-decoration: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    width: 25%;
    text-align: center;
    background-color: var(--brand-fourth);
    color: var(--surface-primary);
    font-family: var(--font-primary);
    border: 2px solid var(--surface-primary);
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 9px #999;
}

.link_formulario:hover {
    background-color: #4358cd;
}

.link_formulario:active {
    background-color: #1f285d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.rodape {
    background-color: var(--brand-fourth);
    text-align: center;
    padding: 1%;
    font-family: var(--font-secondary);
    color: var(--surface-primary);

    
}